@font-size-base: 13px;

@import "~antd/dist/antd.less";

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.min-height-100vh {
    min-height: 100vh;
}

.mfw-mainmenu {
    background-color: @menu-bg;
}

.mfw-mt-1 {
    margin-top: @margin-sm;
}

.mfw-mb-1 {
    margin-bottom: @margin-sm;
}

.text-align-end {
    text-align: end;
}