@font-size-base: 13px;

@import "~antd/dist/antd.less";

.d-flex {
    display: flex;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.min-height-100vh {
    min-height: 100vh;
}

.mfw-mainmenu {
    background-color: @menu-bg;
}

.mfw-mt-1 {
    margin-top: @margin-sm;
}

.mfw-mb-1 {
    margin-bottom: @margin-sm;
}

.mfw-mr-1 {
    margin-right: @margin-sm;
}

.text-align-end {
    text-align: end;
}

.mfw-select-add {
    .ant-divider {
        margin: 4px 0 
    }
    .mfw-add-form {
        display: flex;
        flex-wrap: nowrap;
        padding: 8px;
        a { 
            flex: none;
            padding: 8px;
            display: block;
            cursor: pointer;
        }
        input {
            flex: auto
        }
    }
}